body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 55%,
    rgba(218, 224, 241, 1) 80%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: rgb(198, 66, 124);
  color: white;
  padding: 20px 50px;
  border-radius: 40px;
  text-align: center;
  font-size: 40px;
  width: 500px;
  height: 400px;
}

.quote p {
  font-family: cursive;
}

.quote span {
  font-family: cursive;
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

button {
  color: hotpink;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

button:hover {
  background-color: pink;
  color: white;
  border: gray;
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
